<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Сотрудники &#129465;</title>
  <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('{{ url_for('static', filename='img/fon3.jpg') }}'); 
        background-size: cover; 
        background-position: center; 
          
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap:wrap;
      }
      .card{
            display: flex;
    justify-content: space-around;
    height: 500px;
    width: 300px;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
      }
      img{
        width: 150px;
        height: 250px;
        object-fit: cover;
      }
        
  </style>
</head>

<body>
  <center>
    <h1>Сотрудники &#129465;</h1>
    
   
    <p align="center">
      НАШИ САМЫЕ ЛУЧШИЕ СОТРУДНИКИ
    </p>
  

  <b><h2>
  <div class="content">
  {% for employee in emp %}
     <div class="card">
        <img width="150ph" src = "/img?dir=employees&id={{ employee.id}}">
        <h2>{{ employee.name }}</h2>
        <p><strong>Должность:</strong> {{ employee.post }}</p>
        
    </div>
  {% endfor %}
  </div>
  
  </h2></b>
 
  </center>
</body
</html>