<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  
  <title>Салон красоты "Иринка" &#128151;</title>
  
  
  <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('{{ url_for('static', filename='img/fon4.png') }}'); 
        background-size: cover; 
        background-position: center; 
          
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
        
  </style>
  
</head>


<body>
 
 <div class="content">
  <center>
    <h1>{{ test_name }} Салон красоты "Иринка" &#128151;</h1>
    <h1><a href="employee">{{ test_name }} &#129465; Сотрудники </a></h1>
    <h1><a href="registration">{{ test_name }} &#128221; Запись на услугу</a></h1>
    <h1><a href="services">{{ test_name }} &#128184; Прайс лист </a></h1>


  
  <center>
 
  </div>
</body>
</html>