<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Прайс лист &#128184;</title>
</head>

<body>
<center>
    <h1>Прайс лист &#128184;</h1>
  
<b><h2>
  {% for price in pr %}
    <li>
      <em>{{ price.id }}:</em> {{ price.name }}:{{price.price}}
    </li>
  {% endfor %}
  </b></h2>
  </center>
</body>
</html>