<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Запись на услуги &#128221;</title>
  <style>
        body {
          margin: 0;
          padding: 0;
          height: 100vh; 
          background-image: url('{{ url_for('static', filename='img/fon3.jpg') }}'); 
          background-size: cover; 
          background-position: center; 
          
        }
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* Занять всю высоту родителя */
        }
      
    </style>
</head>

<body>
<b><h2>
<center>

    <h1>{{ test_name }} Запись на услугу &#128221;</h1>
       <form method="POST">
         <label for = "name">ФИО</label><br>
         <input type = "text" name = "name" placeholder = "ФИО" required/><br>
         <label for = "telephone">Номер телефона</label><br>
         
         <input id = "phone" type = "text" name = "telephone" placeholder = "Номер телефона" required><br>

         <label for = "service_id">Вид услуги</label><br>
         
         <select id="services" name = "service_id" required>
         
          {% for service in ser %}
            
            <li>
              
              <option value= {{ service.id }}>{{ service.name }}</option>
            </li>
          {% endfor %}
                    
         </select><br>
        <label for = "employee_id">Работник</label><br>
         <select id="employee" name = "employee_id" required>
         
          {% for employee in emp %}
            
            <li>
              
              <option value= {{ employee.id }}>{{ employee.name }}</option>
            </li>
          {% endfor %}
                    
         </select><br>
         <input type = "submit" ><br>
         
      </form>
  </center>
  </b></h2>
  <ul>

  </ul>
</body>
</html>
<script src="{{ url_for('static', filename='js/inputmask.min.js') }}"></script>
<script>
  Inputmask({ mask: "+7(999) 99-99-999"}).mask(document.querySelectorAll("#phone"));
</script>