<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Запись на услуги &#128221;</title>
</head>

<body>
<b><h2>
<center>

    <h1>{{ test_name }} Запись на услугу &#128221;</h1>
       <form method="POST">
         <label for = "name">ФИО</label><br>
         <input type = "text" name = "name" placeholder = "ФИО" /><br>
         <label for = "telephone">Номер телефона</label><br>
         <input type = "text" name = "telephone" placeholder = "Номер телефона"><br>
         <label for = "type">Вид услуги</label><br>
         <input type = "text" name = "type" placeholder = "Вид услуги" /><br>
         <input type = "submit">
      </form>
  </center>
  </b></h2>
  <ul>

  </ul>
</body>
</html>