<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Прайс лист &#128184;</title>
   
</head>

<body>
    <h1>Прайс лист &#128184;</h1>
    <div class="container">
      {% for services in pr %}
      <div class="block">
        <img class="imge" src="/img?dir=services&id={{services.id}}">
        <h2 class="text">{{services.name}}</h2>
        <p class="text1">Стоимость: {{services.price}}</p>
      </div>
      {% endfor %}
    </div>
</body>
</html>
<style>
  body {
   background-color: antiquewhite; 
   margin: 0;
   padding: 0;
   height: 100vh; /* Занять всю высоту окна */
   background-size: cover; /* Масштабировать изображение для заполнения фона */
   background-position: center; /* Центрировать изображение */
}

.imge{
  vertical-align:middle ;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius:17px ;
  margin-top: 10px;
  display: inline-block;
  align: middle;

}
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block {
  height: 300px;
  width: 300px;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.text{

  
}
.text1{
  
}




      
</style>